:root{
    --primary-color: #1d5888;
    --secondary-color: #53e49bd5;
    --dark-color: #292929;
    --white-color: #bddedf;
}

body{
    color:var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color)
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color)
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}


footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color)
    
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .social>hover{
    opacity: 0.9;
    color: var(--secondary-color)
}